
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-icowechat"></i>
                    <div class="name">微信</div>
                    <div class="fontclass">.icon-icowechat</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qq"></i>
                    <div class="name">qq</div>
                    <div class="fontclass">.icon-qq</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhaohuo2normal"></i>
                    <div class="name">箱子</div>
                    <div class="fontclass">.icon-zhaohuo2normal</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weixin"></i>
                    <div class="name">微信</div>
                    <div class="fontclass">.icon-weixin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu3"></i>
                    <div class="name">删除 (3)</div>
                    <div class="fontclass">.icon-shanchu3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-list"></i>
                    <div class="name">列表</div>
                    <div class="fontclass">.icon-list</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-10"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-10</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yunshuzhongwuliu"></i>
                    <div class="name">01运输中、物流</div>
                    <div class="fontclass">.icon-yunshuzhongwuliu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caigou"></i>
                    <div class="name">05采购</div>
                    <div class="fontclass">.icon-caigou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangpin"></i>
                    <div class="name">06商品</div>
                    <div class="fontclass">.icon-shangpin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qianshoushenpitongguo"></i>
                    <div class="name">14签收、审批通过</div>
                    <div class="fontclass">.icon-qianshoushenpitongguo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jijianfasong-xianxing"></i>
                    <div class="name">16寄件、发送-线性</div>
                    <div class="fontclass">.icon-jijianfasong-xianxing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jijianfasong"></i>
                    <div class="name">16寄件、发送</div>
                    <div class="fontclass">.icon-jijianfasong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qiyeyuanquwuye"></i>
                    <div class="name">17企业、园区、物业</div>
                    <div class="fontclass">.icon-qiyeyuanquwuye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiesuan"></i>
                    <div class="name">19结算</div>
                    <div class="fontclass">.icon-jiesuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ziliaoshouce"></i>
                    <div class="name">22资料、手册</div>
                    <div class="fontclass">.icon-ziliaoshouce</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yingyongchengxu"></i>
                    <div class="name">30应用程序</div>
                    <div class="fontclass">.icon-yingyongchengxu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanxianyuechi"></i>
                    <div class="name">32权限、钥匙</div>
                    <div class="fontclass">.icon-quanxianyuechi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon--guoji"></i>
                    <div class="name">39-国际</div>
                    <div class="fontclass">.icon--guoji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-touchengkongyun"></i>
                    <div class="name">41头程、空运</div>
                    <div class="fontclass">.icon-touchengkongyun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuikuan"></i>
                    <div class="name">47退款</div>
                    <div class="fontclass">.icon-tuikuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouye"></i>
                    <div class="name">204首页</div>
                    <div class="fontclass">.icon-shouye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouye-xianxing"></i>
                    <div class="name">204首页-线性</div>
                    <div class="fontclass">.icon-shouye-xianxing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liaotianduihua"></i>
                    <div class="name">208聊天、对话</div>
                    <div class="fontclass">.icon-liaotianduihua</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liaotianduihua-xianxing"></i>
                    <div class="name">208聊天、对话-线性</div>
                    <div class="fontclass">.icon-liaotianduihua-xianxing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua"></i>
                    <div class="name">209电话</div>
                    <div class="fontclass">.icon-dianhua</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lingdang"></i>
                    <div class="name">211铃铛</div>
                    <div class="fontclass">.icon-lingdang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yonghu-xianxing"></i>
                    <div class="name">224用户-线性</div>
                    <div class="fontclass">.icon-yonghu-xianxing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yonghu"></i>
                    <div class="name">224用户</div>
                    <div class="fontclass">.icon-yonghu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiaosequnti"></i>
                    <div class="name">226角色、群体</div>
                    <div class="fontclass">.icon-jiaosequnti</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-morentouxiang"></i>
                    <div class="name">225默认头像</div>
                    <div class="fontclass">.icon-morentouxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhucetianjiahaoyou"></i>
                    <div class="name">227注册、添加好友</div>
                    <div class="fontclass">.icon-zhucetianjiahaoyou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jianpan"></i>
                    <div class="name">233键盘</div>
                    <div class="fontclass">.icon-jianpan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kaoqinchuqin"></i>
                    <div class="name">235考勤、出勤</div>
                    <div class="fontclass">.icon-kaoqinchuqin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-paizhao"></i>
                    <div class="name">237拍照</div>
                    <div class="fontclass">.icon-paizhao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiesuo"></i>
                    <div class="name">243解锁</div>
                    <div class="fontclass">.icon-jiesuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chaping"></i>
                    <div class="name">248差评</div>
                    <div class="fontclass">.icon-chaping</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-haoping"></i>
                    <div class="name">247好评</div>
                    <div class="fontclass">.icon-haoping</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yiban"></i>
                    <div class="name">250一般</div>
                    <div class="fontclass">.icon-yiban</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-manyi"></i>
                    <div class="name">249满意</div>
                    <div class="fontclass">.icon-manyi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bumanyi"></i>
                    <div class="name">251不满意</div>
                    <div class="fontclass">.icon-bumanyi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hezi"></i>
                    <div class="name">盒子</div>
                    <div class="fontclass">.icon-hezi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu1"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-back"></i>
                    <div class="name">返回</div>
                    <div class="fontclass">.icon-back</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huangguan"></i>
                    <div class="name">皇冠</div>
                    <div class="fontclass">.icon-huangguan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingwei"></i>
                    <div class="name">业来业往_定位</div>
                    <div class="fontclass">.icon-dingwei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoxi"></i>
                    <div class="name">消息</div>
                    <div class="fontclass">.icon-xiaoxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhouricheng"></i>
                    <div class="name">周日程</div>
                    <div class="fontclass">.icon-zhouricheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-leimupinleifenleileibie--"></i>
                    <div class="name">类目 品类 分类 类别-2-02</div>
                    <div class="fontclass">.icon-leimupinleifenleileibie--</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuye"></i>
                    <div class="name">主页</div>
                    <div class="fontclass">.icon-zhuye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu2"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiao"></i>
                    <div class="name">列表</div>
                    <div class="fontclass">.icon-liebiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiangzhang"></i>
                    <div class="name">奖章</div>
                    <div class="fontclass">.icon-jiangzhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huodong"></i>
                    <div class="name">活动</div>
                    <div class="fontclass">.icon-huodong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiala1"></i>
                    <div class="name">下  拉</div>
                    <div class="fontclass">.icon-xiala1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-leimupinleifenleileibie"></i>
                    <div class="name">分类-未选中</div>
                    <div class="fontclass">.icon-leimupinleifenleileibie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bukaixin"></i>
                    <div class="name">不开心</div>
                    <div class="fontclass">.icon-bukaixin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bukaishi"></i>
                    <div class="name">失落</div>
                    <div class="fontclass">.icon-bukaishi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-keai"></i>
                    <div class="name">可爱</div>
                    <div class="fontclass">.icon-keai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tanqi"></i>
                    <div class="name">叹气</div>
                    <div class="fontclass">.icon-tanqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qinqin"></i>
                    <div class="name">亲亲</div>
                    <div class="fontclass">.icon-qinqin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fadou"></i>
                    <div class="name">发抖</div>
                    <div class="fontclass">.icon-fadou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tushetou"></i>
                    <div class="name">吐舌头</div>
                    <div class="fontclass">.icon-tushetou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ganga"></i>
                    <div class="name">尴尬</div>
                    <div class="fontclass">.icon-ganga</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tanxi"></i>
                    <div class="name">叹息</div>
                    <div class="fontclass">.icon-tanxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fanu"></i>
                    <div class="name">发怒</div>
                    <div class="fontclass">.icon-fanu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kaixin"></i>
                    <div class="name">开心</div>
                    <div class="fontclass">.icon-kaixin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youshang"></i>
                    <div class="name">忧伤</div>
                    <div class="fontclass">.icon-youshang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ku"></i>
                    <div class="name">哭</div>
                    <div class="fontclass">.icon-ku</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weixiao"></i>
                    <div class="name">微笑</div>
                    <div class="fontclass">.icon-weixiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fennu"></i>
                    <div class="name">愤怒</div>
                    <div class="fontclass">.icon-fennu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jingdai"></i>
                    <div class="name">惊呆</div>
                    <div class="fontclass">.icon-jingdai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-banguilian"></i>
                    <div class="name">扮鬼脸</div>
                    <div class="fontclass">.icon-banguilian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jimeinongyan"></i>
                    <div class="name">挤眉弄眼</div>
                    <div class="fontclass">.icon-jimeinongyan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jingqi"></i>
                    <div class="name">惊奇</div>
                    <div class="fontclass">.icon-jingqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuijue"></i>
                    <div class="name">睡觉</div>
                    <div class="fontclass">.icon-shuijue</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shengqi"></i>
                    <div class="name">生气</div>
                    <div class="fontclass">.icon-shengqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-manzu"></i>
                    <div class="name">满足</div>
                    <div class="fontclass">.icon-manzu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ditu"></i>
                    <div class="name">地图</div>
                    <div class="fontclass">.icon-ditu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bingqilin"></i>
                    <div class="name">冰淇淋</div>
                    <div class="fontclass">.icon-bingqilin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tianqi"></i>
                    <div class="name">天气</div>
                    <div class="fontclass">.icon-tianqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fenxiang"></i>
                    <div class="name">分享</div>
                    <div class="fontclass">.icon-fenxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanbi2"></i>
                    <div class="name">关  闭</div>
                    <div class="fontclass">.icon-guanbi2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-Shape"></i>
                    <div class="name">icn_搜索</div>
                    <div class="fontclass">.icon-Shape</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
